.section {
  display: flex;
  align-self: center;
  justify-content: center;
  // flex-direction: ;
  gap: 10;
  flex-wrap: nowrap;
}

.one,
.two,
.three {
  border: rgb(63, 6, 116);
  border-radius: 1%;
  border-style: solid;
  margin: 50px;
  align-items: center;
  text-align: center;
  height: 80px;
  width: 80px;
  //padding-top: 20px;
}
.card {
  display: flex;
  margin-bottom: 10px;
}
// ul {
//   text-align: center;
// }
